.magic-mushrooms__button-style-link {
  background-color: var(--color-white);
  color: var(--color-dark);
}

.magic-mushrooms__button-style-link:before {
  content: url('../../../images/button-eye.svg');
}
