.how-it-works__cards-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 390px) {
  .how-it-works__cards-list {
    flex-direction: column;
  }
}
