.discover-digital-art {
  display: grid;
  grid-template-columns: 49% 50%;
  gap: 25px 30px;
  justify-content: space-between;
  grid-template-areas:
    '. card'
    '. card'
    '. card';
}

@media screen and (max-width: 834px) {
  .discover-digital-art {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 425px) {
  .discover-digital-art {
    padding-top: 40px;
    padding-bottom: 40px;
    grid-template-columns: 1fr;
    gap: 40px;
    grid-template-areas:
      'heading'
      'image'
      'button'
      'content';
  }
}
