.how-it-works__card-image {
  max-width: 250px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

@media screen and (max-width: 834px) {
  .how-it-works__card-image {
    max-width: 160px;
  }
}

@media screen and (max-width: 650px) {
  .how-it-works__card-image {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 425px) {
  .how-it-works__card-image {
    width: 100px;
  }
}
