.join-digest__wrapper {
  background-color: var(--color-medium);
  border-radius: 20px;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 834px) {
  .join-digest__wrapper {
    padding: 40px 30px;
  }
}

@media screen and (max-width: 390px) {
  .join-digest__wrapper {
    flex-direction: column;
  }
}
