.discover-digital-art__title {
  max-width: 500px;
  margin: 0;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 67px;
  line-height: 74px;
}

@media screen and (max-width: 834px) {
  .discover-digital-art__title {
    font-size: 38px;
    line-height: 46px;
  }
}

@media screen and (max-width: 425px) {
  .discover-digital-art__title {
    grid-area: title;
  }
}
