.browse-categories__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 425px) {
  .browse-categories__list {
    gap: 20px;
    grid-area: content;
  }
}
