.artists-cards-list__artist-earnings {
  margin: 0;
  font-family: 'Space Mono';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.artists-cards-list__artist-earnings:before {
  content: 'Total Sales: ';
  font-family: 'Work Sans';
  color: #858584;
}
