.footer__text_bold {
  font-family: var(--font-minor);
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 25px;
}

@media screen and (max-width: 834px) {
  .footer__text_bold {
    margin-bottom: 20px;
  }
}
