.discover-digital-art__stats-data {
  margin: 0;
  font-family: var(--font-minor);
  font-weight: 700;
  font-size: 28px;
}

@media screen and (max-width: 834px) {
  .discover-digital-art__stats-data {
    font-size: 22px;
  }
}
