.how-it-works__card {
  width: 33%;
  background-color: var(--color-medium);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 30px 30px;
  box-sizing: border-box;
}

@media screen and (max-width: 834px) {
  .how-it-works__card {
    padding: 10px 20px 30px;
  }
}

@media screen and (max-width: 650px) {
  .how-it-works__card {
    flex-direction: row;
    width: unset;
    padding: 20px;
  }
}
