.trending-collection__table-column {
  width: calc(calc(100% - 60px) / 3);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}

@media screen and (max-width: 834px) {
  .trending-collection__table-column {
    width: 100%;
  }

  .trending-collection__table-column:nth-child(n + 3) {
    display: none;
  }
}

@media screen and (max-width: 390px) {
  .trending-collection__table-column:nth-child(n + 2) {
    display: none;
  }
}
