.counter {
  max-width: 295px;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 20px;
  background: rgba(59, 59, 59, 0.5);
  font-family: var(--font-minor);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  grid-area: counter;
}

@media screen and (max-width: 650px) {
  .counter {
    grid-area: unset;
  }
}
