.section_with-button {
  grid-template-columns: 1fr max-content;
  column-gap: 20px;
  grid-template-areas:
    'heading button'
    'content content';
}

@media screen and (max-width: 425px) {
  .section_with-button {
    padding: 40px 30px;
    grid-template-columns: 1fr;
    grid-template-areas:
      'heading'
      'content'
      'button';
  }
}
