.subscribe-form__email {
  height: 60px;
  border-radius: 20px;
  border: 0;
  padding: 0 0 0 20px;
  width: calc(100% - 40px);
}

.subscribe-form__email[placeholder] {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #2b2b2b;
}

.subscribe-form__email[placeholder]:focus-visible {
  outline: none;
}
