.footer__link {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-silver);
  text-decoration: none;
}

.footer__link:first-child {
  margin-top: 25px;
}
