.discover-more-nfts__cards-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 390px) {
  .discover-more-nfts__cards-list {
    flex-direction: column;
  }
}
