.trending-collection__browse-content {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
}

@media screen and (max-width: 1100px) {
  .trending-collection__browse-content {
    font-size: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .trending-collection__browse-content {
    font-size: 18px;
  }
}
