.browse-categories__link {
  display: block;
  background-image: url('../../../images/browse-categories-bg-art.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 240px;
}

@media screen and (max-width: 834px) {
  .browse-categories__link {
    height: 142px;
  }
}
