.browse-categories__link {
  display: block;
  background-image: url('../../../images/browse-categories-bg-art.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}
