.artists-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

@media screen and (max-width: 834px) {
  .artists-cards {
    flex-grow: 1;
  }
}

@media screen and (max-width: 390px) {
  .artists-cards {
    flex-direction: column;
  }
}
