.discover-digital-art__button:before {
  content: url('../../../images/button-rocket-white.svg');
  line-height: 0;
  margin-right: 14px;
}

@media screen and (max-width: 425px) {
  .discover-digital-art__button {
    grid-area: button;
  }
}
