.browse-categories__category-name {
  max-width: fit-content;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  background: var(--color-medium);
  margin: 0;
  margin-left: 30px;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: var(--color-white);
  text-decoration: none;
}

@media screen and (max-width: 834px) {
  .browse-categories__category-name {
    font-size: 16px;
    line-height: 22px;
    margin: 0 20px 0;
  }
}
