.discover-digital-art__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  margin: 0;
}

@media screen and (max-width: 834px) {
  .discover-digital-art__text {
    font-size: 16px;
    line-height: 22px;
  }
}
