.digital-art-card__art-name {
  display: inline-block;
  margin: 0;
  margin-right: auto;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: var(--color-white);
  text-decoration: none;
}
