.discover-digital-art__stats {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -moz-column-gap: 25px;
  column-gap: 25px;
}

@media screen and (max-width: 834px) {
  .discover-digital-art__stats {
    margin-top: 20px;
  }
}

@media screen and (max-width: 412px) {
  .discover-digital-art__stats {
    grid-area: stats;
  }
}
