.magic-mushrooms__content {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 295px;
  justify-content: space-between;
  align-items: end;
  grid-template-areas:
    '. counter'
    '. counter'
    '. counter';
}

@media screen and (max-width: 650px) {
  .magic-mushrooms__content {
    grid-template-areas: unset;
    grid-template-columns: 1fr;
  }
}
