.magic-mushrooms__content {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  gap: 30px;
  grid-template-columns: calc(100% - 295px - 30px) 295px;
  justify-content: space-between;
  align-items: end;
  grid-template-areas:
    'link counter'
    'heading counter'
    'button counter';
}

@media screen and (max-width: 650px) {
  .magic-mushrooms__content {
    grid-template-areas:
      'link'
      'heading'
      'counter'
      'button';
    grid-template-columns: 1fr;
  }
}
