.how-it-works__card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 834px) {
  .how-it-works__card-text {
    font-size: 12px;
    line-height: 17px;
  }
}
