.section {
  padding: 80px 115px;
}

@media screen and (max-width: 834px) {
  .section {
    padding: 40px 72px;
  }
}

@media screen and (max-width: 425px) {
  .section {
    padding: 40px 30px;
  }
}
