.artists-cards__artsist-rank {
  width: 30px;
  height: 30px;
  margin: 0;
  position: absolute;
  top: 18px;
  left: 20px;
  background: var(--color-dark);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-minor);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-light);
}

@media screen and (max-width: 834px) {
  .artists-cards__artsist-rank {
    top: 13px;
    left: 12px;
  }
}
