/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap'); */

/* .root {
  max-width: 1280px;
  margin: 0 auto;
  background: #2b2b2b;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  color: #fff;
} */

/* ===== LOGO STYLES ===== */

/* .logo {
  display: inline-block;
  width: 243px;
  height: 32px;
  background-image: url('../images/logo.svg');
} */

/* ===== COMMON STYLES ===== */

/* .button-style-link {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: white;
  border: 2px solid #a259ff;
  background: #a259ff;
  border-radius: 20px;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  width: fit-content;
}

.button-style-link:before {
  line-height: 0;
  margin-right: 12px;
} */

/* .button-style-link_background_transparent {
  background: none;
} */

/* .section {
  padding: 80px 115px;
} */

/* .section-header {
  padding-bottom: 60px;
} */

/* .section-header_type_with-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
} */

/* .section-header__title {
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  margin: 0 0 10px 0;
} */

/* .section-header__subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  margin: 0;
} */

/* .digital-art-card {
  width: 510px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  overflow: hidden;
  line-height: 0;
} */

/* .digital-art-card__image {
  width: 100%;
  object-fit: cover;
} */

/* .digital-art-card__image-description {
  background: #3b3b3b;
  padding: 22px 20px;
} */

/* .digital-art-card__art-name {
  display: inline-block;
  margin: 0 0 10px 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: #fff;
  text-decoration: none;
} */

/* .digital-art-card__author-name {
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  text-decoration: none;
}

.digital-art-card__author-name:before {
  content: '';
  background-size: 100%;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 12px;
} */

/* ===== HEADER STYLES ===== */

/* .header {
  padding: 20px 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .header__navigation {
  display: flex;
  gap: 50px;
  align-items: center;
} */

/* .header__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  text-decoration: none;
} */

/* .header__button {
  padding: 0 30px;
}

.header__button:before {
  content: url('../images/button-sign-up.svg');
} */

/* ===== DISCOVER-DIGITAL-ART STYLES ===== */

/* .discover-digital-art {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
} */

/* .discover-digital-art__text-column {
  width: 500px;
} */

/* .discover-digital-art__title {
  margin: 0 0 20px 0;
  font-weight: 600;
  font-size: 67px;
  line-height: 110%;
} */

/* .discover-digital-art__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  margin: 0 0 30px 0;
} */

/* .discover-digital-art__button:before {
  content: url('../images/button-rocket-white.svg');
  line-height: 0;
  margin-right: 14px;
} */

/* .discover-digital-art__stats {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-area: content;
} */

/* .discover-digital-art__stats-data {
  margin: 0;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 28px;
} */

/* .discover-digital-art__stats-description {
  font-size: 24px;
  margin: 0;
} */

/* .discover-digital-art__author-name:before {
  background-image: url('..//images/user-animakid.jpg');
} */

/* ===== TRENDING=COLLECTION STYLES ===== */

/* .trending-collection__table {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
} */

/* .trending-collection__table-column {
  width: calc(calc(100% - 60px) / 3);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
} */

/* .trending-collection__table-image-big {
  width: 100%;
  border-radius: 20px;
} */

/* .trending-collection__table-small-images-row {
  display: flex;
  justify-content: space-between;
} */

/* .trending-collection__table-image-small {
  width: calc(calc(100% - 30px) / 3);
  border-radius: 20px;
} */

/* .trending-collection__browse-button {
  width: calc(calc(100% - 30px) / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #a259ff;
} */

/* .trending-collection__browse-content {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
} */

/* .trending-collection__digital-art-author-name-1:before {
  background-image: url('../images/user-mrfox.jpg');
} */

/* .trending-collection__digital-art-author-name-2:before {
  background-image: url('../images/user-shroomie.jpg');
} */

/* .trending-collection__digital-art-author-name-3:before {
  background-image: url('../images/user-bekind2robots.jpg');
} */

/* ===== TOP CREATORS STYLES ===== */

.top-creators__button:before {
  content: url('../images/button-rocket-violet.svg');
  line-height: 0;
  margin-right: 14px;
}

.artists-cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.artists-cards-list__artist-card {
  width: 240px;
  padding: 20px 0;
  background: #3b3b3b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.artists-cards-list__artsist-rank {
  width: 30px;
  margin: 0;
  position: absolute;
  height: 30px;
  left: 20px;
  top: 18px;
  background: #2b2b2b;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Space Mono';
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #858584;
}

.artists-cards-list__artist-avatar {
  height: 120px;
  width: 120px;
  object-fit: contain;
  border-radius: 50%;
  margin-bottom: 20px;
}

.artists-cards-list__artist-card:first-child .artists-cards-list__artist-avatar {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.artists-cards-list__artist-name {
  margin: 0 0 5px 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.artists-cards-list__artist-earnings {
  margin: 0;
  font-family: 'Space Mono';
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.artists-cards-list__artist-earnings:before {
  content: 'Total Sales: ';
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #858584;
  margin: 0;
}

/* ===== BROWSE CATEGORIES STYLES ===== */

.browse-categories__title {
  margin: 0;
}

.browse-categories__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.browse-categories__category-card {
  width: 240px;
  height: 316px;
  background: #3b3b3b;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 0 25px 0;
  box-sizing: border-box;
}

.browse-categories__category-link {
  display: block;
}

.browse-categories__image {
  width: 240px;
  height: 240px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.browse-categories__icon {
  width: 100px;
  height: 100px;
  z-index: 1;
}

.browse-categories__placeholder {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  filter: blur(7.5px);
}

.browse-categories__icon_art {
  background-image: url('../images/browse-categoties__image-art.svg');
}

.browse-categories__placeholder_art {
  background-image: url('../images/browse-categories-bg-art.jpg');
}

.browse-categories__icon_collectibles {
  background-image: url('../images/browse-categoties__image-collectibles.svg');
}

.browse-categories__placeholder_collectibles {
  background-image: url('../images/browse-categories-bg-collectibles.jpg');
}

.browse-categories__icon_music {
  background-image: url('../images/browse-categoties__image-music.svg');
}

.browse-categories__placeholder_music {
  background-image: url('../images/browse-categories-bg-music.jpg');
}

.browse-categories__icon_photography {
  background-image: url('../images/browse-categoties__image-photography.svg');
}

.browse-categories__placeholder_photography {
  background-image: url('../images/browse-categories-bg-photography.jpg');
}

.browse-categories__icon_video {
  background-image: url('../images/browse-categoties__image-video.svg');
}

.browse-categories__placeholder_video {
  background-image: url('../images/browse-categories-bg-video.jpg');
}

.browse-categories__icon_utility {
  background-image: url('../images/browse-categoties__image-utility.svg');
}

.browse-categories__placeholder_utility {
  background-image: url('../images/browse-categories-bg-utility.jpg');
}

.browse-categories__icon_sport {
  background-image: url('../images/browse-categoties__image-sport.svg');
}

.browse-categories__placeholder_sport {
  background-image: url('../images/browse-categories-bg-sport.jpg');
}

.browse-categories__icon_virtual-worlds {
  background-image: url('../images/browse-categoties__image-virtual-worlds.svg');
}

.browse-categories__placeholder_virtual-worlds {
  background-image: url('../images/browse-categories-bg-virtual-worlds.jpg');
}

.browse-categories__category-name {
  max-width: fit-content;
  background: #3b3b3b;
  margin: 0;
  margin-left: 30px;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: #fff;
  text-decoration: none;
}

/* ===== DISCOVER MORE NFTS STYLES ===== */

.discover-more-nfts__button:before {
  content: url('../images/button-eye.svg');
  line-height: 0;
  margin-right: 14px;
}

.discover-more-nfts__cards-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.discover-more-nfts__card {
  width: calc(calc(100% - 60px) / 3);
  filter: none;
}

.discover-more-nfts__image {
  /* height: 296px; */
}

.discover-more-nfts__image-description {
  padding: 20px 30px 25px;
}

.discover-more-nfts__additional-info {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.discover-more-nfts__art-name {
  margin-bottom: 5px;
}

.discover-more-nfts__column:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.discover-more-nfts__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.discover-more-nfts__price-title,
.discover-more-nfts__bid-title {
  margin: 0;
  font-family: 'Space Mono';
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #858584;
}

.discover-more-nfts__price,
.discover-more-nfts__highest-bid {
  margin: 8px 0 0 0;
  font-family: 'Space Mono';
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.discover-more-nfts__author-name-1:before {
  background-image: url('../images/user-moondancer.jpg');
}

.discover-more-nfts__author-name-2:before {
  background-image: url('../images/user-nebulakid.jpg');
}

.discover-more-nfts__author-name-3:before {
  background-image: url('../images/user-dotgu.jpg');
}

/* ===== MAGIC MASHROOMS STYLES ===== */

.magic-mashrooms {
  padding-bottom: 60px;
  min-height: 640px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-image: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%),
    url('../images/magic-mushrooms__background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  object-fit: contain;
}

.magic-mashrooms__left-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.magic-mushrooms__authors-link {
  background: #3b3b3b;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  border-radius: 20px;
  height: 44px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: fit-content;
}

.magic-mushrooms__authors-link::before {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  border-radius: 50%;
  content: '';
  background-image: url('../images/user-shroomie.jpg');
  background-size: contain;
}

.magic-mashrooms__button-style-link {
  background-color: #fff;
  color: #2b2b2b;
}

.magic-mashrooms__button-style-link:before {
  content: url('../images/button-eye.svg');
}

.counter {
  width: 295px;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 20px;
  background: rgba(59, 59, 59, 0.5);
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  backdrop-filter: blur(5px);
}

.counter__title {
  margin: 0;
  line-height: 100%;
}

.counter__digits {
  font-weight: 700;
  font-size: 38px;
  display: flex;
  justify-content: space-between;
  line-height: 100%;
}

.counter__divider {
  font-size: 28px;
}

.counter__explanation {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.counter__explanation-word:first-child {
  text-align: left;
}

.counter__explanation-word:last-child {
  text-align: right;
}

.counter__explanation-word {
  width: 33.33%;
}

/* ===== HOW IT WORKS STYLES ===== */

.how-it-works__cards-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.how-it-works__card {
  width: calc(calc(100% - 60px) / 3);
  background-color: #3b3b3b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 30px 30px;
  box-sizing: border-box;
}

.how-it-works__card-image {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}

.how-it-works__card-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  margin: 0 0 10px;
}

.how-it-works__card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin: 0;
}

/* ===== JOIN OUR WEEKLY DIGEST STYLES ===== */

.join-digest {
  padding-top: 40px;
}

.join-digest__wrapper {
  background-color: #3b3b3b;
  border-radius: 20px;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.join-digest__image {
  width: 425px;
  height: 310px;
  object-fit: cover;
  border-radius: 20px;
}

.join-digest__content {
  width: 420px;
}

.join-digest__header {
  padding-bottom: 40px;
}

.subscribe-form {
  position: relative;
}

.subscribe-form__email {
  height: 60px;
  border-radius: 20px;
  border: 0;
  padding: 0 0 0 20px;
  width: calc(100% - 40px);
}

.subscribe-form__email[placeholder] {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #2b2b2b;
}

.subscribe-form__email[placeholder]:focus-visible {
  outline: none;
}

.subscribe-form__submit-button {
  height: 60px;
  border: 0;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a259ff;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  cursor: pointer;
  padding: 0 50px;
  position: absolute;
  right: 0;
  top: 0;
}

.subscribe-form__submit-button:before {
  content: url('../images/button-letter.svg');
  line-height: 0;
  margin-right: 12px;
}

/* ===== FOOTER STYLES ===== */

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  gap: 31px;
}

.footer__info-section {
  display: flex;
  flex-direction: column;
}

.footer__info-section:first-child {
  max-width: 245px;
}

.footer__info-section:last-child {
  max-width: 420px;
}

.footer__text {
  font-size: 16px;
  line-height: 22px;
  color: #cccccc;
  margin: 20px 0 0;
}

.footer__text:first-child {
  margin-top: 25px;
}

.footer__social-links {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.footer__social-logo {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.footer__social-logo_discord {
  background-image: url('../images/footer_social-logo-discord.svg');
}

.footer__social-logo_youtube {
  background-image: url('../images/footer_social-logo-youtube.svg');
}

.footer__social-logo_twitter {
  background-image: url('../images/footer_social-logo-twitter.svg');
}

.footer__social-logo_instagram {
  background-image: url('../images/footer_social-logo-instagram.svg');
}

.footer__text_bold {
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 22px;
  line-height: 35px;
  margin: 0;
}

.footer__link {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ccc;
  text-decoration: none;
}

.footer__link:first-child {
  margin-top: 25px;
}

.footer__subscribe-form {
  margin-top: 20px;
}

.footer__divider {
  margin: 30px 0 20px;
  height: 1px;
  background-color: #858584;
}

.footer__copyright {
  font-size: 12px;
  line-height: 13px;
  color: #ccc;
}
