.counter {
  width: 295px;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 20px;
  background: rgba(59, 59, 59, 0.5);
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  backdrop-filter: blur(5px);
}

.counter__title {
  margin: 0;
  line-height: 100%;
}

.counter__digits {
  font-weight: 700;
  font-size: 38px;
  display: flex;
  justify-content: space-between;
  line-height: 100%;
}

.counter__divider {
  font-size: 28px;
}

.counter__explanation {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.counter__explanation-word:first-child {
  text-align: left;
}

.counter__explanation-word:last-child {
  text-align: right;
}

.counter__explanation-word {
  width: 33.33%;
}

/* ===== HOW IT WORKS STYLES ===== */

.how-it-works__header {
  padding-bottom: 48px;
}

.how-it-works__cards-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.how-it-works__card {
  width: calc(calc(100% - 60px) / 3);
  background-color: #3b3b3b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 30px 30px;
  box-sizing: border-box;
}

.how-it-works__card-image {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}

.how-it-works__card-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  margin: 0 0 10px;
}

.how-it-works__card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin: 0;
}

/* ===== JOIN OUR WEEKLY DIGEST STYLES ===== */

.join-digest {
  padding-top: 40px;
}

.join-digest__wrapper {
  background-color: #3b3b3b;
  border-radius: 20px;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.join-digest__image {
  width: 425px;
  height: 310px;
  object-fit: cover;
  border-radius: 20px;
}

.join-digest__content {
  width: 420px;
}

.join-digest__header {
  padding-bottom: 40px;
}

.subscribe-form {
  position: relative;
}

.subscribe-form__email {
  height: 60px;
  border-radius: 20px;
  border: 0;
  padding: 0 0 0 20px;
  width: calc(100% - 40px);
}

.subscribe-form__email[placeholder] {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #2b2b2b;
}

.subscribe-form__email[placeholder]:focus-visible {
  outline: none;
}

.subscribe-form__submit-button {
  height: 60px;
  border: 0;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a259ff;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  cursor: pointer;
  padding: 0 50px;
  position: absolute;
  right: 0;
  top: 0;
}

.subscribe-form__submit-button:before {
  content: url('../images/button-letter.svg');
  line-height: 0;
  margin-right: 12px;
}

/* ===== FOOTER STYLES ===== */

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  gap: 31px;
}

.footer__info-section {
  display: flex;
  flex-direction: column;
}

.footer__info-section:first-child {
  max-width: 245px;
}

.footer__info-section:last-child {
  max-width: 420px;
}

.footer__text {
  font-size: 16px;
  line-height: 22px;
  color: #cccccc;
  margin: 20px 0 0;
}

.footer__text:first-child {
  margin-top: 25px;
}

.footer__social-links {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.footer__social-logo {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.footer__social-logo_discord {
  background-image: url('../images/footer_social-logo-discord.svg');
}

.footer__social-logo_youtube {
  background-image: url('../images/footer_social-logo-youtube.svg');
}

.footer__social-logo_twitter {
  background-image: url('../images/footer_social-logo-twitter.svg');
}

.footer__social-logo_instagram {
  background-image: url('../images/footer_social-logo-instagram.svg');
}

.footer__text_bold {
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 22px;
  line-height: 35px;
  margin: 0;
}

.footer__link {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ccc;
  text-decoration: none;
}

.footer__link:first-child {
  margin-top: 25px;
}

.footer__subscribe-form {
  margin-top: 20px;
}

.footer__divider {
  margin: 30px 0 20px;
  height: 1px;
  background-color: #858584;
}

.footer__copyright {
  font-size: 12px;
  line-height: 13px;
  color: #ccc;
}
