.artists-cards__artist-earnings {
  margin: 0;
  font-family: var(--font-minor);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.artists-cards__artist-earnings:before {
  content: 'Total Sales: ';
  font-family: var(--font-main);
  color: var(--color-light);
}
