.discover-digital-art__card {
  height: fit-content;
  grid-area: card;
}

@media screen and (max-width: 834px) {
  .discover-digital-art__card {
    max-width: 330px;
    overflow: hidden;
    line-height: 0;
  }
}

@media screen and (max-width: 375px) {
  .discover-digital-art__card {
    grid-area: unset;
    margin-bottom: 20px;
  }
}
