.discover-more-nfts__button:before {
  content: url('../../../images/button-eye.svg');
  line-height: 0;
  margin-right: 14px;
}

@media screen and (max-width: 425px) {
  .discover-more-nfts__button {
    grid-area: button;
    width: 100%;
  }
}
