/* .section_with-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}

@media screen and (max-width: 425px) {
  .section_with-button {
    padding: 40px 30px;
    grid-template-columns: 1fr;
    grid-template-areas:
      'heading'
      'content'
      'button';
  }
} */
